<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ontocow</title>
<link href="../../../css/styleMain.css" th:href="@{/css/styleMain.css}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" th:include="/layout :: jsSection">
</script>
</head>
<body>
<header th:include="/layout :: headerSection"></header>
<div id="mainbody">

<h3 class="head3_darkred">Contact Us</h3>
<p>The BFOConvert software program is primarily developed by <a href="http://www.hegroup.org/">He Group</a> at the University of Michigan, Ann Arbor, MI. For  software-related issues, please contact us: </p>
<blockquote class="block_generic">
  <p>Edison Ong: Software Developer. University of Michigan Medical School <br/>
    Email: <img border="0" src="http://www.hegroup.org/inc/showe.php?d=umich.edu&amp;n=edong" align="absbottom"/> <br/>
  </p>
</blockquote>
<blockquote class="block_generic"><a href="http://www.hegroup.org/aboutUs/Oliver.html" target="_blank">Dr. Yongqun &quot;Oliver&quot; He</a>, Associate Professor,  University of Michigan Medical School <br/>
  Email: <img border="0" src="http://www.hegroup.org/inc/showe.php?d=med.umich.edu&amp;n=yongqunh" align="absbottom"/> <br/>
  Phone: (734) 615-8231 </blockquote>
<p><a href="http://cbil.upenn.edu/profile-staff_bio/39">Dr. Jie Zheng</a> has been an important collaborator for the BFOConvert software development. Jie provides the mapping file and examples. Please feel free to contact Jie in terms of the BFOConvert usage and guidance. </p>
<p><a href="http://www.buffalo.edu/cas/philosophy/faculty/faculty_directory/smith-b.html">Dr. Barry Smith</a> is the primary BFO developer. For BFO-related information. </p>
<p>Your suggestions and comments are welcome. Thank you. </p>
<p>&nbsp;</p>
</div>
<footer th:include="/layout :: footerSection">
</footer>
</body>
</html>