<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ontobull</title>
<link href="../../../css/styleMain.css" th:href="@{/css/styleMain.css}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" th:include="/layout :: jsSection">
</script>
</head>
<body>
<header th:include="/layout :: headerSection"></header>
<div id="mainbody">

<h3 class="head3_darkred">Download</h3>
<p>&nbsp;</p>
<p>The Ontobull source code is openly available at the GitHub: URL .... </p>
<p>&nbsp;</p>
<p><strong>Copyright licensing:</strong> </p>
<p>The souce source code is made available under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a>.</p>
<p>&nbsp;</p>
</div>
<footer th:include="/layout :: footerSection">
</footer>
</body>
</html>
