<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ontocow</title>
<link href="../../../css/styleMain.css" th:href="@{/css/styleMain.css}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" th:include="/layout :: jsSection">
</script>
</head>
<body>
<header th:include="/layout :: headerSection"></header>
<div id="mainbody">


<h3 class="head3_darkred">News</h3>
<br/>
<ul>
  <li><strong>September 1, 2015</strong>: BFOConvert now support "replace" as header cleanup action.</li>
  <li><strong> July 22, 2015</strong>: BFOConvert dependency, OWLAPI, updated to version 4.1.0-RC2 to address the issue <a href="https://github.com/owlcs/owlapi/issues/405">here</a>. </li>
  <li><strong>July 17,</strong> <strong>2015</strong>: Jie, Edison, and Oliver met again and discussed the new features and update text description.  </li>
  <li><strong>July 7, 2015</strong>: Edison developed an updated version of BFOConvert.</li>
  <li><strong>July 2, 2015:</strong> Jie Zheng, Edison Ong, and Oliver discussed how to update BFOConvert to fit new updates of BFO 2 and RO. A plan was outlined for Edison to implement. </li>
  <li><strong>Jan - Feb, 2013:</strong> BFOConvert was developed to handle BFO 2 pre-Graz version. </li>
  <li><strong>Jan 3, 2013: </strong> The first version of BFO 1.2 converter was online.  </li>
  <li><strong>September 14, 2012</strong>: The BFO Converter server, developed by Allen and Oliver in Oliver He group, was online.</li>
  </ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
<footer th:include="/layout :: footerSection">
</footer>
</body>
</html>
