<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ontobull</title>
<link href="../../../css/styleMain.css" th:href="@{/css/styleMain.css}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" th:include="/layout :: jsSection">
</script>
</head>
<body>
<header th:include="/layout :: headerSection"></header>
<div id="mainbody">


<h3 class="head3_darkred">References</h3>
<p>&nbsp;</p>
<p><strong>Here we provide a list of related paper references:</strong></p>
<p>&nbsp;</p>
<p>OBO Foundry: Smith B1, Ashburner M, Rosse C, Bard J, Bug W, Ceusters W, Goldberg LJ, Eilbeck K, Ireland A, Mungall CJ; OBI Consortium, Leontis N, Rocca-Serra P, Ruttenberg A, Sansone SA, Scheuermann RH, Shah N, Whetzel PL, Lewis S. The OBO Foundry: coordinated evolution of ontologies to support biomedical data integration. Nat Biotechnol. 2007 Nov;25(11):1251-5. PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/17989687" target="_blank">17989687</a>.</p>
<p>&nbsp;</p>
<p>More to include later .... </p>
<p>&nbsp;</p>
<p>&nbsp;</p>


</div>
<footer th:include="/layout :: footerSection">
</footer>
</body>
</html>
