<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ontocow</title>
<link href="../../../css/styleMain.css" th:href="@{/css/styleMain.css}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" th:include="/layout :: jsSection">
</script>
</head>
<body>
<header th:include="/layout :: headerSection"></header>
<div id="mainbody">

<h3 class="header_darkred">BFO Convert: Convert an Ontology using BFO 1.1 as Top Ontology to a New ontology using BFO 2.0 graz</h3>
<div th:if="${outputFile}">

<h4>File generated: <a href="" th:href="@{'/userfiles/'+${outputFile}}" th:text="${outputFile}">nnnnnnnn.zip</a></h4>
</div>
<p>&nbsp;</p>
<p>Please let us know if you have any questions or comments. Thank you!</p>
<p>&nbsp;</p>

</div>
<footer th:include="/layout :: footerSection">
</footer>
</body>
</html>